## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df =application_df.drop(['EIN','NAME'],axis=1)

In [3]:
# Determine the number of unique values in each column.

unique_counts = application_df.nunique()

# Display the number of unique values in each column
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
Application_type_count=application_df["APPLICATION_TYPE"].value_counts()
print(Application_type_count)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =  Application_type_count[Application_type_count <= 200].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
Classification_count=application_df["CLASSIFICATION"].value_counts()
print(Classification_count)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_more_than_one=Classification_count[Classification_count >1]
print(classification_more_than_one)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace =  Classification_count[Classification_count <= 800].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
charity_data_encoded= pd.get_dummies(application_df,dtype=int,drop_first=True)
charity_data_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
# Split our preprocessed data into our features and target arrays
y = charity_data_encoded['IS_SUCCESSFUL']
X = charity_data_encoded.drop(columns=['IS_SUCCESSFUL'])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=X_train_scaled.shape[1]))  # X_train_scaled.shape[1] gives you the number of features

# Add additional layers
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer for binary classification
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"

 Layer (type)                          Output Shape                         Param #

 dense_21 (Dense)                      (None, 10)                               370

 dense_22 (Dense)                      (None, 10)                               110

 dense_23 (Dense)                      (None, 10)                               110

 dense_24 (Dense)                      (None, 1)                                 11

 Total params: 601 (2.35 KB)

 Trainable params: 601 (2.35 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858  3s 2ms/step - accuracy: 0.6339 - loss: 0.6424
Epoch 2/100
858/858  2s 2ms/step - accuracy: 0.7246 - loss: 0.5608
Epoch 3/100
858/858  2s 2ms/step - accuracy: 0.7349 - loss: 0.5505
Epoch 4/100
858/858  3s 2ms/step - accuracy: 0.7311 - loss: 0.5535
Epoch 5/100
858/858  1s 2ms/step - accuracy: 0.7331 - loss: 0.5502
Epoch 6/100
858/858  2s 2ms/step - accuracy: 0.7309 - loss: 0.5500
Epoch 7/100
858/858  1s 2ms/step - accuracy: 0.7291 - loss: 0.5528
Epoch 8/100
858/858  2s 2ms/step - accuracy: 0.7310 - loss: 0.5474
Epoch 9/100
858/858  2s 2ms/step - accuracy: 0.7330 - loss: 0.5478
Epoch 10/100
858/858  2s 2ms/step - accuracy: 0.7322 - loss: 0.5475
Epoch 11/100
858/858  3s 2ms/step - accuracy: 0.7370 - loss: 0.5459
Epoch 12/100
858/858  2s 2ms/step - accuracy: 0.7335 - loss: 0.5489
Epoch 13/100
858/858  1s 2ms/step - accuracy: 0.7319 - loss: 0.5465
Epoch 14/100
858/858  1s 2ms/step - accuracy: 0.7329 - loss: 0.5458
Epoch 15/100
858/858  3s 2ms/step - accuracy: 0.7352 - loss: 0.5432
Epoch 16/100
858/858  3s 2ms/step - accuracy: 0.7335 - loss: 0.5460
Epoch 17/100
858/858  2s 3ms/step - accuracy: 0.7381 - loss: 0.5409
Epoch 18/100
858/858  2s 2ms/step - accuracy: 0.7306 - loss: 0.5472
Epoch 19/100
858/858  1s 2ms/step - accuracy: 0.7338 - loss: 0.5455
Epoch 20/100
858/858  2s 2ms/step - accuracy: 0.7296 - loss: 0.5494
Epoch 21/100
858/858  1s 2ms/step - accuracy: 0.7373 - loss: 0.5407
Epoch 22/100
858/858  3s 2ms/step - accuracy: 0.7357 - loss: 0.5443
Epoch 23/100
858/858  2s 2ms/step - accuracy: 0.7326 - loss: 0.5472
Epoch 24/100
858/858  3s 2ms/step - accuracy: 0.7345 - loss: 0.5465
Epoch 25/100
858/858  1s 2ms/step - accuracy: 0.7305 - loss: 0.5498
Epoch 26/100
858/858  3s 2ms/step - accuracy: 0.7318 - loss: 0.5480
Epoch 27/100
858/858  2s 2ms/step - accuracy: 0.7347 - loss: 0.5469
Epoch 28/100
858/858  3s 2ms/step - accuracy: 0.7377 - loss: 0.5422
Epoch 29/100
858/858  4s 3ms/step - accuracy: 0.7381 - loss: 0.5438
Epoch 30/100
858/858  1s 2ms/step - accuracy: 0.7346 - loss: 0.5442
Epoch 31/100
858/858  1s 2ms/step - accuracy: 0.7366 - loss: 0.5394
Epoch 32/100
858/858  1s 2ms/step - accuracy: 0.7333 - loss: 0.5455
Epoch 33/100
858/858  1s 2ms/step - accuracy: 0.7360 - loss: 0.5418
Epoch 34/100
858/858  3s 2ms/step - accuracy: 0.7361 - loss: 0.5417
Epoch 35/100
858/858  3s 3ms/step - accuracy: 0.7306 - loss: 0.5485
Epoch 36/100
858/858  2s 2ms/step - accuracy: 0.7362 - loss: 0.5410
Epoch 37/100
858/858  2s 3ms/step - accuracy: 0.7368 - loss: 0.5435
Epoch 38/100
858/858  1s 2ms/step - accuracy: 0.7387 - loss: 0.5424
Epoch 39/100
858/858  3s 2ms/step - accuracy: 0.7288 - loss: 0.5482
Epoch 40/100
858/858  2s 2ms/step - accuracy: 0.7294 - loss: 0.5485
Epoch 41/100
858/858  2s 2ms/step - accuracy: 0.7323 - loss: 0.5477
Epoch 42/100
858/858  3s 2ms/step - accuracy: 0.7362 - loss: 0.5425
Epoch 43/100
858/858  2s 2ms/step - accuracy: 0.7352 - loss: 0.5427
Epoch 44/100
858/858  2s 2ms/step - accuracy: 0.7402 - loss: 0.5354
Epoch 45/100
858/858  1s 2ms/step - accuracy: 0.7349 - loss: 0.5428
Epoch 46/100
858/858  3s 2ms/step - accuracy: 0.7332 - loss: 0.5460
Epoch 47/100
858/858  2s 2ms/step - accuracy: 0.7372 - loss: 0.5401
Epoch 48/100
858/858  3s 3ms/step - accuracy: 0.7312 - loss: 0.5436
Epoch 49/100
858/858  2s 2ms/step - accuracy: 0.7399 - loss: 0.5384
Epoch 50/100
858/858  2s 2ms/step - accuracy: 0.7346 - loss: 0.5460
Epoch 51/100
858/858  2s 2ms/step - accuracy: 0.7348 - loss: 0.5450
Epoch 52/100
858/858  2s 2ms/step - accuracy: 0.7339 - loss: 0.5439
Epoch 53/100
858/858  3s 2ms/step - accuracy: 0.7319 - loss: 0.5476
Epoch 54/100
858/858  3s 3ms/step - accuracy: 0.7342 - loss: 0.5446
Epoch 55/100
858/858  4s 2ms/step - accuracy: 0.7334 - loss: 0.5466
Epoch 56/100
858/858  3s 2ms/step - accuracy: 0.7339 - loss: 0.5458
Epoch 57/100
858/858  1s 2ms/step - accuracy: 0.7340 - loss: 0.5438
Epoch 58/100
858/858  1s 2ms/step - accuracy: 0.7351 - loss: 0.5433
Epoch 59/100
858/858  4s 3ms/step - accuracy: 0.7395 - loss: 0.5399
Epoch 60/100
858/858  2s 2ms/step - accuracy: 0.7367 - loss: 0.5408
Epoch 61/100
858/858  2s 2ms/step - accuracy: 0.7400 - loss: 0.5389
Epoch 62/100
858/858  2s 2ms/step - accuracy: 0.7344 - loss: 0.5411
Epoch 63/100
858/858  2s 2ms/step - accuracy: 0.7392 - loss: 0.5420
Epoch 64/100
858/858  2s 2ms/step - accuracy: 0.7348 - loss: 0.5433
Epoch 65/100
858/858  2s 2ms/step - accuracy: 0.7361 - loss: 0.5401
Epoch 66/100
858/858  3s 3ms/step - accuracy: 0.7346 - loss: 0.5423
Epoch 67/100
858/858  2s 2ms/step - accuracy: 0.7349 - loss: 0.5441
Epoch 68/100
858/858  2s 2ms/step - accuracy: 0.7370 - loss: 0.5417
Epoch 69/100
858/858  2s 2ms/step - accuracy: 0.7353 - loss: 0.5448
Epoch 70/100
858/858  1s 2ms/step - accuracy: 0.7348 - loss: 0.5426
Epoch 71/100
858/858  1s 2ms/step - accuracy: 0.7376 - loss: 0.5397
Epoch 72/100
858/858  2s 2ms/step - accuracy: 0.7355 - loss: 0.5443
Epoch 73/100
858/858  3s 2ms/step - accuracy: 0.7383 - loss: 0.5404
Epoch 74/100
858/858  2s 2ms/step - accuracy: 0.7341 - loss: 0.5426
Epoch 75/100
858/858  3s 2ms/step - accuracy: 0.7394 - loss: 0.5383
Epoch 76/100
858/858  3s 2ms/step - accuracy: 0.7357 - loss: 0.5423
Epoch 77/100
858/858  2s 2ms/step - accuracy: 0.7324 - loss: 0.5451
Epoch 78/100
858/858  4s 3ms/step - accuracy: 0.7372 - loss: 0.5400
Epoch 79/100
858/858  2s 2ms/step - accuracy: 0.7404 - loss: 0.5365
Epoch 80/100
858/858  2s 2ms/step - accuracy: 0.7345 - loss: 0.5421
Epoch 81/100
858/858  3s 2ms/step - accuracy: 0.7329 - loss: 0.5439
Epoch 82/100
858/858  1s 2ms/step - accuracy: 0.7375 - loss: 0.5387
Epoch 83/100
858/858  1s 2ms/step - accuracy: 0.7358 - loss: 0.5420
Epoch 84/100
858/858  3s 2ms/step - accuracy: 0.7362 - loss: 0.5440
Epoch 85/100
858/858  3s 2ms/step - accuracy: 0.7382 - loss: 0.5414
Epoch 86/100
858/858  2s 2ms/step - accuracy: 0.7405 - loss: 0.5368
Epoch 87/100
858/858  3s 2ms/step - accuracy: 0.7339 - loss: 0.5442
Epoch 88/100
858/858  2s 2ms/step - accuracy: 0.7310 - loss: 0.5486
Epoch 89/100
858/858  2s 2ms/step - accuracy: 0.7348 - loss: 0.5430
Epoch 90/100
858/858  2s 2ms/step - accuracy: 0.7359 - loss: 0.5422
Epoch 91/100
858/858  4s 3ms/step - accuracy: 0.7347 - loss: 0.5428
Epoch 92/100
858/858  4s 2ms/step - accuracy: 0.7344 - loss: 0.5421
Epoch 93/100
858/858  3s 2ms/step - accuracy: 0.7363 - loss: 0.5416
Epoch 94/100
858/858  3s 2ms/step - accuracy: 0.7400 - loss: 0.5352
Epoch 95/100
858/858  3s 3ms/step - accuracy: 0.7400 - loss: 0.5386
Epoch 96/100
858/858  2s 2ms/step - accuracy: 0.7394 - loss: 0.5391
Epoch 97/100
858/858  2s 2ms/step - accuracy: 0.7367 - loss: 0.5392
Epoch 98/100
858/858  3s 2ms/step - accuracy: 0.7373 - loss: 0.5399
Epoch 99/100
858/858  2s 2ms/step - accuracy: 0.7402 - loss: 0.5358
Epoch 100/100
858/858  3s 2ms/step - accuracy: 0.7372 - loss: 0.5404

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7232 - loss: 0.5604
Loss: 0.5604485869407654, Accuracy: 0.7231778502464294

In [40]:
# Export our model to HDF5 file
nn.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.